@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

* {
    box-sizing: border-box !important;
    font-family: 'Lato';
    padding: 0px;
    margin: 0px;
}

body {
    position: relative;
    margin: 0px;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    z-index: -100;
    overflow-x: hidden;
}

#root {
    position: relative;
    min-height: 100vh;
    height: auto;
}